.content-title {
  text-align: left;
  font-family: 'Bebas Neue', cursive;
  padding-left: 2%;
  font-size: x-large;
  padding-top: 2%;
  width: 100%;
  color: yellow;
}

.content-title-caption {
  text-align: left;
  padding-left: 2%;
  padding-bottom: 2%;
  font-size: medium;
  color: white;
}

.mixcloud-embed {
  margin-left: 2%;
  margin-right: 2%;
}
