.title-bar,
.title-bar-caption {
  text-align: left;
  font-family: 'Bebas Neue', cursive;
  padding-left: 2%;
}

.title-bar {
  font-size: xx-large;
  padding-top: 2%;  
  width: 100%;     
}

.title-bar a {
  color: yellow;
}

#title-bar-scroll {
  position: sticky; 
  position: -webkit-sticky; 
  top: 0px; 
  z-index: 1;
  background-color: black;
}

.mcb-logo {
  padding-top: 1%; 
  border-radius: 50%; 
  padding-right: 2%;
}

.title-bar-row {
  display: flex;
  justify-content: space-between;
}

.title-bar-caption {  
  padding-bottom: 2%;
  color: white;
  font-size: large;
}

.title-bar-links {
  border-bottom: 2px dotted white;
  border-top: 2px solid white;
  margin-left: 2%;
  margin-right: 2%
}

.links {
  display: flex;
  justify-content: space-evenly;
}